.service-block-two .image img {
   height: stretch;
}


.right-column p {
    bottom:80px;
    position: relative;
    top:40px;
    right:120px;
    text-align: center;
    width: 100%; /* Garante que ele use todo o espaço para calcular o centro */
    display: block; /* Caso haja algum float ou posicionamento estranho */
    font-size: 16px;
    color:#d81b60 !important;
    font-weight: 800;
}

.divider {
    width: 75px;
    height:75px;
}

.logo{
    width: 160px;
    height:160px;
    margin: center;
}

.inner-column-logo{
 /* display: flex; */
 position: relative;
 left:350px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    width: 30px;
    height: 30px;
        top:-160px;
}


.image1{
    position: relative;
    right:-120px;
    top:50px;

}
.texto{
    position: relative;
    right: 190px;
}

.inner-column p{
    z-index: 999999;
   padding: 30px;
}
